{% extends 'admin/base.html.twig' %}

{% block title %} List gestionnaires {% endblock %}

{% block extrahead %}


{% endblock %}


{% block extrafooter %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-table">
                <div class="card-header">Gestionnaires</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for g in gestionnaires %}
                            <tr>
                                <td> {{ g.nom }}</td>
                                <td class="actions">
                                    <a class="icon" href="/admin/gestionnaire/delete/{{ g.id }}"><i class="mdi mdi-delete"></i></a>&nbsp;&nbsp;
                                    <a class="icon" href="/admin/gestionnaire/edit/{{ g.id }}"><i class="mdi mdi-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
